<div class="container ">
  <div class="card card-container">
    <div class="card__title py-2">
      <h1><%= @use_case.title %></h1>
    </div>
    <div class="card__sub-info py-2">
      <div class="card__sub-info--category">
        <%= @use_case.category.upcase %>
      </div>
      <div class="card__sub-info--update">
        <p>Last updated <%= @use_case.updated_at.strftime('%a, %e %b %y') %></p>
      </div>
    </div>
    <div class="card__description py-2">
      <p>
        <%= @use_case.description %>
      </p>
    </div>
    <div class="card__snippet py-2">
      <div class="card__snippet--code">
        <% @use_case.ruby.code.each do |rb| %>
          <p>
            <code>
              <%= rb %>
            </code>
          </p>
        <% end %>
        <p class="card__snippet--code--def">Ruby</p>
      </div>
    </div>
    <div class="card__snippet py-2">
      <div class="card__snippet--code">
        <% @use_case.python.code.each do |py| %>
          <p>
            <code>
              <%= py %>
            </code>
          </p>
        <% end %>
        <p class="card__snippet--code--def">Python</p>
      </div>
    </div>
    <div class="card__output">
      <div class="card__output--code">
        <code>
          <%= @use_case.output %>
        </code>
        <p class="card__output--code--def">Output</p>
      </div>
    </div>
    <div class="card__buttons my-4">
      <a class="card__buttons--btn card__buttons--btn--green m-2 w-50" target="_blank" href="<%= @use_case.ruby.documentation_url %>">Ruby: Learn More</a>
      <a class="card__buttons--btn card__buttons--btn--green m-2 w-50" target="_blank" href="<%= @use_case.python.documentation_url %>">Python: Learn More</a>
    </div>
  </div>
</div>

